/* domsters style color guide */
$black: #232323;
$abbey: #464748;
$silver: #cccccc;
$cod-gray: #151515;
$pomegranite: #EF4A23;
$tango: #f47e20;
$amaranth: #ee2954;
$white: #ffffff;
$blue: blue;
$orange: #ffbb55;
$dark-blue: #333344;
$darker-blue: #333344;
$darker-blue-two: #444455;
$light-orange: #eebb66;
$grey: #cccccc;
$silver: #778899;
$light-grey: #666677;
$tan: #eeddcc;
$nice-blue: #777799;
$turquoise: #779999;
$sand: #bbaa99;
