body {
  // margin: 1em 10%;
  background-image: url(../images/background.gif);
  background-attachment: fixed;
  background-position: top left;
  background-repeat: repeat-x;
  // max-width: 80em;
}
.container {
  max-width: 100rem;
  margin: 0 auto;
  padding:5rem;
}

#header {
  background-image: url('../images/guitarist.gif');
  background-repeat: no-repeat;
  background-position: bottom right;
  border-width: .1em;
  border-style: solid;
  border-bottom-width: 0;
}

.flex-nav {
  background-image:
    linear-gradient(
      $silver, $light-grey 
    ); 
  border: $light-grey;
  border-width: 1px;
  border-bottom-width: 0;
  border-top-width: 0;
  color: $dark-blue;
}

.flex-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.flex-nav li {
  flex:3;
}

.flex-nav .social {
  flex:1;
}

@media all and (max-width:1000px) {

  .flex-nav ul {
    flex-wrap: wrap;
  }

  .flex-nav li {
    flex: 1 1 50%;
    text-align: center;
  }

  .flex-nav .social {
    flex: 1 1 25%;
  }

}

@media all and (max-width: 500px) {
  
  .flex-nav li {
    flex-basis: 100%;
  }

}

#content {
  border-width: .1em;
  border-style: solid;
  border-top-width: 0;
  padding: 2em 10%;
  line-height: 1.8em;
}
#about #header {
  background-image: url(../images/lineup.gif);
}
#photos #header {
  background-image: url(../images/basshead.gif);
}
#live #header {
  background-image: url(../images/bassist.gif);
}
#contact #header {
  background-image: url(../images/drummer.gif);
}
#content img {
  border-width: .1em;
  border-style: solid;
  outline-width: .1em;
  outline-style: solid;
}
#imageGallery li {
  display: inline;
}
#slideshow {
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
}
#slideshow img {
  max-width: none;
}
img#frame {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  border-width: 0;
  outline-width: 0;
}
img#preview {
  position: absolute;
  border-width: 0;
  outline-width: 0;
}
dl {
  overflow: hidden;
}
dt {
  float: left;
}
dd {
  float: left;
}
label {
  display: block;
}
fieldset {
  border: 0;
}
td {
  padding: .5em 3em;
}
